.top-right-menu-container{
	background: url('../assets/images/menu/menu.png');
	width: 68px;
	height: 68px;
	position: absolute;
	top: 10px;
	right: 20px;
    cursor: pointer;
    background-size: contain;
}

.logo{
    background: url('../assets/images/logo.png');
    width: 210px;
    height: 64px;
    position: absolute;
    top: 10px;
    left: 10px;
}
.logo.menuScale{
	transform: scale(0.8) translate(-20px, -7px);
}

.stepsContainer{
    position: absolute;
    top: 10px;
    left: 10px;
	display: none;
	float: left;
}
.stepsImg{
    background: url('../assets/images/img_pass.png');
    width: 110px;
    height: 110px;
    /* position: absolute; */
    top: 0px;
    left: 0px;
	/* float: right; */
	display: inline-block;
}
.stepsLabel{
    background: url('../assets/images/steps_label_01.png');
    width: 100px;
    height: 40px;
    /* position: absolute; */
    top: 50px;
    left: 10px;
	display: inline-block;
}
.timer{
	background: url('../assets/images/img_alarm.png');
    position: absolute;
	width: 280px;
    height: 150px;
    top: 10px;
    right: 10px;
	display: none;
	/* float: left; */
}

.clock {
	position: absolute;
	top: 74px;
	right: 185px;
	display: none;
	max-width: 20%;
	width: 84px;
}

.minutesContainer,
.secondsContainer {
	display: flex;
	justify-content: center;
	width: 60px;
	height: 60px;
	user-select: none;
}

.minutesContainer {
	float: left;
}

.secondsContainer {
	float: right;
}

.minutes,
.seconds,
.divider {
	font-size: 2.2em;
	margin: 0px 0;
	color: white;
}

.instruction{
	width: 440px;
	margin: 0 auto;
	padding: 0;
}

.instructionImg{
    background: url('');
    width: 440px;
    height: 60px;
    position: absolute;
    bottom: 0px;
    /* left: 10px; */
	display: none;
	/* width: 50%; */
	/* margin: 0; */
	/* padding: 0; */
}

.expand-panel {
    background: url(../assets/images/menu/menu_Iconbase_BG.png);
    width: 68px;
    height: 185px;
    position: absolute;
    right: 20px;
    top: 10px;
    background-size: contain;
    background-repeat: no-repeat;
}

.menu_btns{
     width: 46px;
    height: 46px;
	right: 10px;
	top: 10px;
    cursor: pointer;
    border:none;
}
.collapseBtn.menu_btns {
    background: rgba(0, 0, 128, 0);
    margin-left: 6px;
    margin-top: 5px;
    height: 56px;
    width: 56px;
}
.mapBtn {
    background: rgba(0, 0, 128, 0);
    margin-left: 12px;
    margin-top: 2px;
    height: 46px;
    width: 46px;
}
.progressBtn{
    background: url('../assets/images/Btn_progress.png');
 
}
.helpBtn {
    background: rgba(0, 0, 128, 0);
    margin-left: 12px;
    margin-top: 2px;
}

.popupVideocls{
    margin: 0 auto;
    background: #fff;
    max-width: 992px;
    max-height: 565px;
    align-self: center;
    border-radius: 20px;
    padding: 2px;
	padding-bottom: 0px;
    height: 75%;
    width: 80%;
}



.popupBackgrnd{
    background: url(../assets/images/scr_01_bg.jpg) no-repeat; 
    /* background: url(../assets/images/popup_container_bg.png) no-repeat;*/
    width: 100%;
    height: 100%;
    background-size: cover;
}




.popup-container{
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.5);
    display: flex;
	flex: 1;
}

.trancript-container{
    position: absolute;
    width: 100%;
    height: 100%;
    display: block;
}

/* .popup-container.chester{ */
	/* background-color: rgba(0,0,0,0); */
	/* display:block; */
/* } */
.popup-container.menu-bg{
	background: url(../assets/images/scr_01_bg.jpg) no-repeat; 
    background-size: cover;
}
#launch_page{
    background: url(../assets/images/scr_01_bg.jpg) no-repeat;
    width: 100%;
    height: 100%;
    background-size: cover;
    display: flex;
}
#IntroText{
    margin: 0 auto;
    background-image: url(../assets/images/scr_01_callout.png);
    max-width: 1004px;
    max-height: 650px;
    align-self: center;
    height: 100%;
    width: 100%;   
}

#launchBtn {
    border: none;
    background: url(../assets/images/btn_start.png);
    width: 120px;
    height: 60px;
    margin-top: 386px;
    margin-left: 745px;
    cursor: pointer;
}



#popup_info01 {
    margin: 0 auto;
    background: url(../assets/images/popup01_bg.png);
    max-width: 963px;
    max-height: 559px;
    align-self: center;
    height: 75%;
    width: 80%;
}

.popup_carousel, .popupBackgrndWithImage {
    margin: 0 auto;
    max-width: 1150px;
    max-height: 525px;
    align-self: center;
    height: max-content;
    width: 70%;
    background: #F3F3F3;
    border-radius: 20px;
    padding: 2px;
}
.popup_carousel {
    max-width: 1193px;
    max-height: 525px;
    padding: 0px;
}
.popup_carousel .slideshow-container, .popup_carousel .ss_slides_container {
    max-width: 100%;
    max-height: max-content;
    width: 100%;
}
.popup_carousel .carousel_slide {
    width: 100%;
    height: max-content;
    float: left;
}
.popup_carousel .popupImg {
    max-width: 100% !important;
    width: auto !important;
    max-height: 570px !important;
}
.popup_carousel .popup_txt {
    max-width: 40% !important;
    float: left !important;
    padding: 30px !important;
    text-align: left !important;
	font-family: Verdana;
    font-size: 16px;
}

.popup_carousel .ss_prev_btn.disabled {
    background: url(../assets/images/back_disabled_btn.png);
    cursor: default;
}
.popup_carousel .ss_prev_btn {
    background: url(../assets/images/back_btn.png);
    position: absolute;
    top: calc(50% - 36px);
    margin-left: -35px;
}
.popup_carousel .ss_prev_btn, .popup_carousel .ss_next_btn {
    width: 71px;
    height: 71px;
    cursor: pointer;
}
.popup_carousel .ss_next_btn.disabled {
    background: url(../assets/images/next_disabled_btn.png);
    cursor: default;
}
.popup_carousel .ss_next_btn {
    background: url(../assets/images/next_btn.png);
    position: absolute;
    top: calc(50% - 36px);
    margin-left: calc(100% - 38px);
}

.popupTranscript {
    width: 340px;
    height: 139px;
    background: #fff;
    border-radius: 20px;
    border: 3px solid #000;
    padding: 19px;
    bottom: 22%;
    left: 325px;
    position: absolute;
}

.avatarTranscript {
    width: 340px;
    height: 139px;
    background: #fff;
    border-radius: 20px;
    border: 2px solid #96005a;
    padding: 19px;
    bottom: 40px;
    left: 1%;
    position: absolute;
}




.popupTranscript .popup-close-btn {
    background: url('../assets/images/Btn_Close_transcript.png');
    font-family: Verdana;
    width: 30px;
    height: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    float: right;
    left: unset;
    top: unset;
    margin-top: -14px;
    cursor: pointer;
    margin-right: -12px;
}







.popup01 .popupImg{
    float: left;
    max-width: 1093px;
    max-height: 570px;
    width: 50%;
}

.popup01 .popup_txt {
    float: left;
    max-width: 460px;
    font-family: Verdana;
    margin-top: 65px;
    width: 42%;
    margin-left: 5%;
    overflow: auto;
    max-height: 95%;
    padding-right: 10px;
}
.popup02 .popupImg{
    float: left;
    max-width: 1147px;
    max-height: 235px;
    width: 100%;
}

.popup02 .popup_txt {
    float: left;
    max-width: 1147px; 
    font-family: Verdana;
    margin-top: 15px;
    width: 100%;
    text-align: center;
    overflow: auto;
    max-height: 95%;
    padding-right: 10px;
}






.transpopup_txt {
    float: right;
    width: 336px;
    font-family: Verdana;
    margin-top: 10px;
    height: 99px;
    overflow-y: scroll;
    margin-left: 12px;
    padding-right: 5px;
}


#map_popup {
    margin: 0 auto;
    background: url(../assets/images/popup_menu.png);
    max-width: 1366px;
    max-height: 636px;
    align-self: center;
    height: 85%;
    width: 85%;
}
#progress_popup {
    margin: 0 auto;
    background: url(../assets/images/Popup_Progress.png);
    max-width: 1220px;
    max-height: 516px;
    align-self: center;
    height: 75%;
    width: 80%;
}

.videoCls, video {
     width: 100%;
    height: 99%;
    border-radius: 20px;
}




#anim01 {
    margin: 0 auto;
    background: #000;
    max-width: 992px;
    max-height: 565px;
    align-self: center;
    border-radius: 27px;
    padding: 8px;
    height: 75%;
    width: 80%;
}

#help_popup {
    margin: 0 auto;
    max-width: 913px;
    max-height: max-content;
    align-self: center;
    height: 560px;
    width: 80%;
}



#help_popup_start {
    margin: 0 auto;
    max-width: 1004px;
    max-height: max-content;
    align-self: center;
    height: 560px;
    width: 80%;
}

#help_popup img, #help_popup_start img {
    width: 100%;
    height: auto;
}

#info_popup {
    margin: 0 auto;
    max-width: 1004px;
    max-height: max-content;
    align-self: center;
    height: 560px;
    width: 80%;
}

#info_popup img {
    width: 100%;
    height: auto;
}

#session_feedback_popup {
    margin: 0 auto;
    max-width: 1004px;
    max-height: max-content;
    align-self: center;
    height: 560px;
    width: 80%;
}

#session_feedback_popup img {
    width: 100%;
    height: auto;
}

#session_feedback_popup .popup-next-btn {
    margin-top: -450px;
    margin-left: 760px;
}

.popup_title {
    float: left;
    color: #fff;
    font-family: Verdana;
    font-size: 20px;
    font-weight: bold;
    margin-left: 130px;
    margin-top: 74px;
}
.popup-close-btn {
    background: url('../assets/images/Btn_Close.png');
    font-family: Verdana;
    width: 21px;
    height: 21px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: relative;
    float: right;
    left: unset;
    top: unset;
    margin-top: 10px;
    cursor: pointer;
    margin-right: -35px;
}

.popup-next-btn {
    background: url('../assets/images/btn_arrow_next.png');
    font-family: Verdana;
    width: 60px;
    height: 60px;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    position: absolute;
    float: right;
    left: unset;
    top: unset;
    margin-top: -430px;
    cursor: pointer;
    margin-left: 780px;
}

.popupVideocls .popup-close-btn{
    margin-top: 10px;
    margin-right: -40px;
}


#anim01 .popup-close-btn {
   margin-top: -48px;
    margin-right: 0px;
}

#map_popup .popup-close-btn {
    margin-top: 10px;
    margin-right: 30px;
}

#help_popup .popup-close-btn {
    /* margin-top: 10px; */
    /* margin-right: -30px; */
	color: #000;
    position: relative;
    float: right;
    top: unset;
    /* margin-top: -5px; */
    cursor: pointer;
    /* margin-right: -55px; */
}
#help_popup_start .popup-close-btn {
    color: #000;
    position: relative;
    float: right;
    top: unset;
    cursor: pointer;
    background: url(../assets/images/continue.png);
    width: 153px;
    height: 72px;
    margin-top: -105px;
    margin-right: 18px;
}

#menu {
    margin: 0 auto;
    background: url(../assets/images/scr_03_cha.png);
    width: 1004px;
    height: 650px;
    align-self: center;
    margin-top: 25px;
}
#menu .popup-close-btn {
    color: #000;
    left: unset !important;
    right: 0px !important;
    top: 10px !important;
}
.menu-btn-container {
    float: left;
    width: 180px;
    height: 40px;
    position: absolute;
}
.menu-btn {
    width: 180px;
    height: 40px;
    cursor: default;
    margin: auto;
}
.menu-btn-container{
    background: rgba(0, 0, 128, 0);
}
/* #menuBtnContainer01:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic01_ove.png); */
    /* margin-top: -82px; */
    /* margin-left: -21px; */
    /* width: 129px; */
    /* height: 84px; */
    /* float: left; */
/* } */
/* #menuBtnContainer02:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic02_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-65px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */
/* #menuBtnContainer03:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic03_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-65px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */
/* #menuBtnContainer04:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic04_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-71px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */
/* #menuBtnContainer05:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic05_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-60px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */
/* #menuBtnContainer06:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic06_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-60px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */
/* #menuBtnContainer07:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic07_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-60px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */
/* #menuBtnContainer08:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic08_ove.png); */
    /* margin-top: -82px; */
    /* margin-left: -79px; */
    /* width: 149px; */
    /* height: 84px; */
    /* float: left;   */
/* } */
/* #menuBtnContainer09:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic09_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-65px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */
/* #menuBtnContainer10:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic10_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-65px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */
/* #menuBtnContainer11:hover:before{ */
    /* content:""; */
    /* background: url(../assets/images/menu/topic11_ove.png); */
    /* margin-top:-82px; */
    /* margin-left:-65px; */
    /* width: 199px; */
    /* height: 84px;  */
     /* float: left;    */
/* } */


#menuBtnContainer01 {
	background: url(../assets/images/btn_practice_normal.png);
    margin-left: 530px;
    margin-top: 270px;
	/* position: absolute; */
}
#menuBtnContainer02 {
	background: url(../assets/images/btn_test_normal.png);
    margin-left: 530px;
    margin-top: 330px;
	/* position: absolute; */
}
#menuBtnContainer03 {
    margin-left: 141px;
    margin-top: 345px;
}
#menuBtnContainer04 {
    margin-left: 141px;
    margin-top: 345px;
}
#menuBtnContainer05 {    
    margin-left: 140px;
    margin-top: 345px;
}
#menuBtnContainer06 {
	margin-left: 140px;
    margin-top: 345px;
}
#menuBtnContainer07 {
	margin-left: 106px;
    margin-top: 345px;
}
#menuBtnContainer08 {
    margin-left: 16px;
    margin-top: 227px;
}
#menuBtnContainer09 {
    margin-left: -122px;
    margin-top: 115px;
}
#menuBtnContainer10{
    margin-left: -279px;
    margin-top: 116px;
}
#menuBtnContainer11{
    margin-left: -472px;
    margin-top: 116px;
}

#quizBtn {
    float: left;
    width: 102px;
    height: 64px;
    margin-left: -685px;
    margin-top: 116px;
    cursor: pointer;
}
#quizBtn.disabled{
    cursor: default;
}

.menu-btn:not(.completed){
	cursor: pointer;
}
.menu-btn:not(.disabled){
	cursor: pointer;
}
.menu-btn.completed{
	cursor: pointer;
	/*cursor: default;
	pointer-events: none;*/
}
.menu-btn-container.disabled .menu-btn{
	cursor: default;
	pointer-events: none;
	opacity: 0.4;
}

.section-progress-indicator {
    background: url(../assets/images/menu_status_nonstarted.png);
    background-size: contain;
    margin: auto;
    width: 26px;
    height: 26px;
    margin-top: -70px;
    margin-left: -20px;
}
.section-progress-indicator.started{
	background: url(../assets/images/menu_status_started.png);
}
.section-progress-indicator.completed{
	background: url(../assets/images/menu_status_completed.png);
    width: 25px;
    height: 25px;
}
.menu-btn-container.disabled .section-progress-indicator, #quizBtn.disabled .section-progress-indicator {
    background: url(../assets/images/menu/locked_icon.png);
    background-size: contain;
}
#quizBtn .section-progress-indicator {
    margin-top: 0px;
    margin-left: -5px;
}
/* #chester01 .callout-panel{ */
	/* background: url(../assets/images/Character_Chester_popup.png); */
    /* width: 437px; */
    /* height: 368px; */
	/* position: absolute; */
    /* bottom: 270px; */
	/* right: 530px; */
/* } */
/* #chester01 .callout-panel.chester01_2{ */
	/* background: url(../assets/images/Character_Chester01_2_popup.png) no-repeat; */
	/* height: 318px; */
	/* right: 580px; */
/* } */
/* #chester01 .callout-panel.chester03_1{ */
    /* background: url(../assets/images/M03_chester.png) no-repeat; */
    /* height: 348px; */
/* } */

/* #chester01 .callout-panel.chester02_1 { */
    /* background: url(../assets/images/M2_chester.png) no-repeat; */
    /* height: 394px; */
    /* right: 580px; */
/* } */
/* #chester01 .callout-panel.chester04_2 { */
    /* background: url(../assets/images/section4_2/Chester.png) no-repeat; */
    /* height: 308px; */
    /* right: 590px; */
    /* top: 85px; */
/* } */

/* .chester02_1{ */
     /* right: 77px; */
/* } */


/* .chester02_2 { */
    /* right: 130px; */
    /* top: -30px; */
/* } */


/* #chester01 .callout-panel.chester02_2{ */
    /* background: url(../assets/images/M2b_chester.png) no-repeat; */
    /* height: 385px; */
    /* top:78px; */
/* } */
/* #chester01 .callout-panel.chester02_3{ */
    /* background: url(../assets/images/M2c_chester.png) no-repeat; */
    /* height: 400px; */
	/* right: 580px; */
	/* top: 0px; */
/* } */
/* #chester01 .callout-panel.chester05_1 { */
    /* background: url(../assets/images/chestercallout_5_1.png) no-repeat; */
    /* height: 398px; */
    /* width: 457px; */
    /* right: 585px; */
	/* bottom: 240px; */
/* } */



/* #chester01 .callout-panel.chester06_1{ */
    /* background: url(../assets/images/section6_1/M6_chester.png) no-repeat; */
    /* height: 358px; */
/* } */

/* #chester01 .insTxt{ */
	/* padding: 5px; */
    /* width: 417px; */
    /* bottom: 190px; */
    /* right: 530px; */
    /* background-color: rgba(0,0,0,0.2); */
    /* color: #fff; */
    /* font-size: 14px; */
    /* font-family: Verdana; */
    /* text-align: center; */
    /* border-radius: 5px; */
    /* position: absolute; */
/* } */



.progress-container {
    float: left;
    margin-top: 20px;
    margin-left: 868px;
    clear: both;
}
#progress_txt {
    float: left;
    font-family: Arial;
    font-size: 16px;
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
}
#progress_bar {
    float: left;
    width: 273px;
    height: 5px;
    margin-left: 20px;
    margin-top: 5px;
    background: #BCBCBC;
    border-radius: 2px;
}
.inner-bar {
    height: 100%;
    background: #666666;
}

.menu-top-container {
    float: left;
    width: 100%;
    height: 122px;
}
.menu-top-container .col-1 {
    height: 100%;
    float: left;
    width: 100%;
	padding-top: 0px;
}
.menu-top-container .col-2 {
    float: left;
    height: 100%;
    width: 35%;
	padding-top: 38px;
}
.menu-top-container .col-3 {
    float: left;
    width: 25%;
    height: 100%;
}
#menu .iText {
    color: #006EB4;
    font-style: italic;
    font-family: Verdana;
    font-size: 14px;
    margin-top: 28px;
    float: right;
    margin-right: 0px;
    width: 304px;
    line-height: 20px;
	display: none;
    /* font-weight: bold; */
}
#menu .iText:before {
    content: '';
    background: url(../assets/images/info.png);
    width: 30px;
    height: 30px;
    float: left;
    margin-right: 5px;
}
.menu-bottom-container {
    float: left;
    width: 100%;
    height: 459px;
}
.menu-bottom-container .col-1 {
    height: 100%;
    float: left;
    width: 100%;
}
.menu-bottom-container .col-2 {
    height: 100%;
    float: left;
    width: 25%;
}
.menu-bottom-container .col-3 {
    height: 100%;
    float: left;
    width: 30%;
}
.breadcrum{
    width: 25px;
    height: 25px;
}
.slideshow-container {
    float: left;
    max-width: 665px;
    max-height: 472px;
    width: 50%;
    position: relative;
}
.ss_prev_btn, .ss_next_btn{
	width: 40px;
	height: 40px;	
	cursor: pointer;
}
.ss_prev_btn{
	background: url(../assets/images/btn_carousel_back.png);
	position: absolute;
    top: calc(50% - 20px);
    margin-left: 10px;
}
.ss_prev_btn.disabled{
	background: url(../assets/images/btn_carousel_back_disabled.png);	
	cursor: default;
}
.ss_next_btn{
	background: url(../assets/images/btn_carousel_next.png);
	position: absolute;
    top: calc(50% - 20px);
    margin-left: calc(100% - 50px);
}
.ss_next_btn.disabled{
	background: url(../assets/images/btn_carousel_next_disabled.png);
	cursor: default;
}
.slideshow-container .popupImg{
	max-width: 50% !important;
    width: 50% !important;
	float: left !important;
    padding: 2px;
}

.hide{
    display: none;
}

.top-band {
    z-index: 20000;
    position: absolute;
	width: 100%;
}

.bottom-band {
    z-index: 20001;
    position: absolute;
	width: 100%;
	/* justify-content: center; */
}

.slider {
        width: 50%;
        margin: 100px auto;
    }

    .slick-slide {
      margin: 0px 20px;
    }

    .slick-slide img {
      width: 100%;
    }

    .slick-prev:before,
    .slick-next:before {
      color: black;
    }


    .slick-slide {
      transition: all ease-in-out .3s;
      opacity: .2;
    }
    
    .slick-active {
      opacity: .5;
    }

    .slick-current {
      opacity: 1;
    }